{% extends "base.html" %}
{% block title %}{{ block.super }} | Books {% endblock %}

{% block heading %} Books {% endblock %}

{% block main %}
	{{user}}
	<form method="POST" action="/setbooks">{% csrf_token %}
		<ul>
			{% for b in books %}
                <li>{% if user %}<input type="checkbox" id="{{b.pk}}" name="{{b.pk}}" value="{{b.pk}}">{% endif %}{{ b }}</li>
			{% endfor%}
		</ul>
		<input type="submit" name="valider" id="valider" value="Valider">
	</form>
{% endblock %}


{% block js %}
	active_tab = '#tab_books';
{% endblock %}
