{% extends "base.html" %}
{% block title %}{{ block.super }} | {{book.title}} {% endblock %}

{% block heading %} {{author.lastname}} {{author.firstname}} {% endblock %}

{% block main %}
	<h1>{{book.title}}</h1>
	
	Author(s) :
	<ul>
		{% for a in book.authors.all%}
				<li><a href="author/a.pk">{{a.firstname}} {{a.lastname }}</a></li>
		{% endfor %}
	</ul>
	
	{% if book.users.all %}
		Members who own this book :
		<ul>
			{% for u in book.users.all %}
					<li>{{ u }} {%if user != u and user.is_authenticated %}<a href="/askabook/{{u.username}}/{{book.pk}}">Wanna borrow his book?</a>{%endif%}</li>
			{% endfor %}
		</ul>
	{% else %}
		No body own this book.
	{% endif %}
	
	<h1>Comments : </h1>	
	
	{% for c in book.comments.all %}
	<div class="commentaire">
		{{c.date}} | <strong>{{c.user}} </strong><br/>
		{{c}}		
	</div><br/>
	{% endfor %}
	<br/>
	{%if user.is_authenticated %}
		<form method="POST" action="comment/{{book.pk}}"> {% csrf_token %}
			<textarea id="content" name="content"></textarea>
			<input type="submit" name="comment" id="comment" class="btn btn-success" value="Comment!">
		</form>
	{%endif%}
{% endblock %}


{% block js %}
	active_tab = '#tab_authors';
{% endblock %}



		

