h1.heading
{
	color : white;
	padding-left : 1em;
}

div.main{
	padding-top:12em;
}

.active{
	-webkit-box-shadow: 0 0 3px 0px #2BE2FF;
	box-shadow:0 0 3px 0px #2BE2FF;
}

.logio{
	margin-top:30px;
	margin-right:30px;
	color:white;
}